.skills__container{
    grid-template-columns: repeat(3,350px);
    column-gap: 3rem;
    justify-content: center;
}



.skills__content{
    
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1) ;
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    
}

.skills__content:hover{
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
        transition: .3s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box{
    
    display: flex;
    justify-content: center;
    column-gap: 2.25rem;
}

.skills__box:hover{
    box-shadow: inset 0 0 0 9px rgb(255 255 255/30%);
}

.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
    margin-left: -0.5rem;
}

.skills__group1 {
    display: grid;
    align-items: center;
    row-gap: 2rem;
    margin-left: -1.25rem;
}

.skills__data{
    display: flex;
    column-gap: 0.5rem;
}

.skills .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level{
    font-size: var(--tiny-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .skills__container{
        grid-template-columns: 1fr;
    }

    .skills__content{
        padding: 1.5rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .skills__box{
        column-gap: 1.25rem;
    }

    .skills__name{
        font-size: var(--small-font-size);
    }
}